.summary-ui-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--font-color-primary);
  line-height: 44px;
  font-weight: 600;
  background-color: white;
  border-radius: 24px;
  width: 264px;
  // height: 168px;
  padding-top: 32px;
  margin-bottom: 10px;
  --color-positive: var(--blue-2);
  --background-positive: #54d3c226;

  &.active {
    color: white;
    background-color: var(--blue-2);
    --color-positive: white;
    --background-positive: rgba(255, 255, 255, 0.15);
  }

  .summary-procent {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    font-family: $font-icons;
    width: 144px;
    height: 36px;
    border-radius: 24px;

    &.negative {
      color: var(--red-1);
      background: #fc5c6526;

      &::before {
        content: "";
        font-weight: 900;
        position: relative;
        right: 4px;
      }
    }

    &.positive {
      color: var(--color-positive);
      background: var(--background-positive);

      &::before {
        content: "";
        font-weight: 900;
        position: relative;
        right: 4px;
      }
    }
  }

  .summary-amount {
    display: flex;
    align-items: center;
    font-size: 28px;
    padding-top: 13px;
  }

  .summary-name {
    font-size: 16px;
  }
}
