.problem-zone {
  display: flex;
  flex-direction: column;
  max-width: fit-content;
  align-items: flex-start;
  background-color: white;
  padding: 17px 32px;
  margin-left: 40px;
  border-radius: 32px;
}
