.expense-ui-item {
  display: flex;
  background-color: white;
  border-radius: 15px;
  width: fit-content;
  margin: 5px;

  .icon-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 10px;
  }

  .text-wrapper {
    display: flex;
    flex-direction: column;
    padding: 0 10px 0 10px;

    .name-wrapper {
      font-size: 14px;
      font-weight: 600;
      line-height: 18px;
      vertical-align: middle;
      color: var(--font-color-tertiary);
    }

    .value-wrapper {
      font-size: 18px;
      font-weight: 700;
      line-height: 120%;
      letter-spacing: 0;
      color: var(--font-color-primary);

      .sign {
        padding-right: 5px;
      }
    }
  }
}
